// base
@import "base/reset";
@import "base/typography";

// utils (variables, mixins, functions)
@import "utils/variables";
@import "utils/mixins";
@import "utils/functions";

// layouts (header, footer, formulaire…)
@import "layouts/header";
@import "layouts/footer";

// components (boutons, inputs, icônes…)

// pages (home, blog...)

// themes (utilisateur, admin)

// vendors (Bootstrap...)

