/* buttons */

.btn-primary{
    font-size: 16px;
    font-weight: $fw-regular;
    color: $white;
    background: linear-gradient(180deg, $secondary, $primary);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    border: none;
    border-radius: 25px;
    padding: 15px 20px;
    transition: all 0.5s;

    a{
        color: $white;
        text-decoration: none;
    }

    &:hover{
        filter: brightness(1.15);
        cursor: pointer;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
    }
}



$heart-path: '<path d="M12,21.9C6.2,16.2,0.6,11.3,0.6,7c0-3.9,3.2-5.4,5.5-5.4c1.4,0,4.3,0.5,5.9,4.6c1.6-4.1,4.6-4.6,5.9-4.6c2.6,0,5.4,1.7,5.4,5.4C23.4,11.2,18.1,15.9,12,21.9z" ';

$heart: '<svg width="24" height="24" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">' +
        $heart-path +
        'fill="'+ $white +'" stroke="'+ $black +'" stroke-width="1.2" /></svg>';

$heart-hover: '<svg width="24" height="24" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">' +
              $heart-path +
              'fill="url(#gradient)" stroke="none" />' + 
              '<defs><linearGradient id="gradient" x1="0" x2="0" y1="0" y2="1">' + 
              '<stop offset="0%" stop-color="' + $primary + '" /><stop offset="100%" stop-color="' + $secondary + '" /></linearGradient>' + 
              '</defs></svg>';

/*              
.btn__like{
    width: 24px;
    height: 24px;
    padding: 0;
    border: none;
    position: relative;
    background-color: inherit;
    overflow: hidden;
    

    span{
        margin-left: -100px;
    }

    &::before, &::after{
        content: "";
        opacity: 1;
        width: 24px;
        height: 24px;
        display: block;
        position: absolute;
        top: 0;
    }
    
    &::before{
        background-image: svg-url($heart);
        transition: all .5s ease-in-out;
        z-index: 10;
        
    }
    
    &::after{
        background-image: svg-url($heart-hover);
        z-index: 5;
    }
    
    &:hover::before{
        opacity: 0;
        cursor: pointer;
    } 

    &--active::before{
        opacity: 0;
    }
}
*/

.btn__like{
    width: 24px;
    height: 24px;
    padding: 0;
    border: none;
    position: relative;
    overflow: hidden;
    background-color: inherit;

    span{
        margin-left: -100px;
    }

    &::after, &::before{
        content: "";
        width: 24px;
        height: 24px;
        display: block;
        position: absolute;
        top: 0;
        transition: all .3s ease-in-out;
        opacity: 0;
    }

    &::after{
        background-image: url("/images/pictos/heart-solid.svg");
        opacity: 0;
    }

    &::before{
        background-image: url("/images/pictos/heart-regular.svg");
        opacity: 1;
    }

    
    &:hover::after{
        opacity: 1;
        cursor: pointer;
    } 

    &:hover::before{
        opacity: 0;
    }
}