/* buttons */

.btn-primary{
    font-size: rem(16);
    font-weight: $fw-regular;
    color: $white;
    width: max-content;
    background: linear-gradient(180deg, $secondary, $primary);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    border: none;
    border-radius: 25px;
    padding: 15px 20px;
    transition: all 0.5s;

    a{
        font-size: rem(16);
        color: $white;
        text-decoration: none;
    }

    &:hover{
        filter: brightness(1.15);
        cursor: pointer;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
    }
}


// button like
.btn__like{
    width: 24px;
    height: 24px;
    padding: 0;
    border: none;
    position: relative;
    overflow: hidden;
    background-color: inherit;

    span{
        margin-left: -100px;
    }

    &::after, &::before{
        content: "";
        width: 24px;
        height: 24px;
        display: block;
        position: absolute;
        top: 0;
        transition: all .3s ease-in-out;
        opacity: 0;
    }

    &::after{
        background-image: url("../images/pictos/heart-solid.svg");
        opacity: 0;
    }

    &::before{
        background-image: url("../images/pictos/heart-regular.svg");
        opacity: 1;
    }

    
    &:hover::after{
        opacity: 1;
        cursor: pointer;
    } 

    &:hover::before{
        opacity: 0;
    }
}

