/* Loader */

.loader-wrap{
    width: 100vw;
    height: 100vh;
    background: linear-gradient($secondary, $primary);
    opacity:0;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 200;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transform: scaleY(1);
    transform-origin: top center;
    animation: loader-wrap 3000ms;
}

@keyframes loader-wrap{
    0%{
        transform: scaleY(1);
        opacity: 1;
    }
    90%{
        transform: scaleY(1);
        opacity: 1;
    }
    100%{
        transform: scaleY(0);
        opacity: 0;
    }
}

.loader{
    //width: ;
    position: relative;
    animation: loader 2900ms 100ms;
    opacity: 0;

    @keyframes loader {
        0%{
            opacity: 1;
        }
        80%{
            opacity: 1;

        }
        100%{
            opacity: 0;
        }       
    }

    &__plat{
        width: 200px;
        height: 15px;
        background-color: $white;
        border-radius: 0 0 15px 15px;
        margin-top: 5px;
    }

    &__fumee{
        width: 10px;
        background-color: $white;
        position: absolute;
        border-radius: 10px 0;

        &--1{
            height: 60px;
            top: 30px;
            left: 25px; 
            opacity: 0;   
            animation: fumee-1 1800ms 400ms;
        }
        &--2{
            height: 115px;
            top: 5px;
            left: 45px;  
            opacity: 0;   
            animation: fumee-2 2000ms 350ms;  
        }
        &--3{
            height: 80px;
            top: 20px;
            left: 65px; 
            opacity: 0;   
            animation: fumee-3 1800ms 450ms;   
        }
    }



    @keyframes fumee-1 {
        0%{
            opacity: 0;
            transform: translateY(0);
            filter: blur(0);
            animation-timing-function: cubic-bezier(ease-in);
        }
        20%{
            opacity: 0.2;

        }
        70%{
            opacity: 0.7;
        }
        100%{
            opacity: 0;
            transform: translateY(-70px);
            filter: blur(4px);
        }
    }
    @keyframes fumee-2 {
        0%{
            opacity: 0;
            transform: translateY(0);
            filter: blur(0);
            animation-timing-function: cubic-bezier(ease-in);
        }
        10%{
            opacity: 0.2;
        }
        70%{
            opacity: 0.7;
        }
        100%{
            opacity: 0;
            transform: translateY(-60px);
            filter: blur(4px);
        }
    }
    @keyframes fumee-3{
        0%{
            opacity: 0;
            transform: translateY(0);
            filter: blur(0);
            animation-timing-function: cubic-bezier(ease-in);
        }
        20%{
            opacity: 0.7;

        }
        70%{
            opacity: 0.7;
        }
        100%{
            opacity: 0;
            transform: translateY(-58px);
            filter: blur(4px);
        }
    }

    &__cloche{
        display: flex;
        flex-direction: column;
        align-items: center;
        transform-origin: bottom right;
        animation: cloche 2500ms 100ms;
        opacity: .8;
    }

    &__poignee{
        width: 20px;
        height: 20px;
        background-color: $white;
        border-radius: 100%;
    }
    &__demi-sphere{
        width: 200px;
        height: 100px;
        background-color: $white;
        border-radius: 100px 100px 0 0;
        margin-top: -10px;
    }

    @keyframes cloche {
        0%{
            transform: rotate(0deg);

        }
        5%{
            transform: rotate(-2deg) translateY(-4px);
        }
        10%{
            transform: rotate(2deg) translateY(4px);
        }
        15%{
            transform: rotate(-4deg) translateY(-6px);
        }
        20%{
            transform: rotate(4deg) translateY(6px);
        }
        25%{
            transform: rotate(-6deg) translateY(-8px);
            animation-timing-function: ease-in;
        }
        40%{
            transform: rotate(8deg);
        }
        45%{
            transform: rotate(7deg);
        }
        50%{
            
        }
        90%{
            transform: rotate(7deg);
            animation-timing-function: ease-out;
        }
        100%{
            transform: rotate(0deg);
        }
        
    }
}