/* Homepage */

// location
.location-wrap{
    width: 100%;
    display: flex;
    background-color: #EAEAEA;
}

.location{
    width: 100%;
    padding: 17px 0;
    display: flex;
    justify-content: center;
}