// Fonts
$roboto: 'Roboto', sans-serif;
$Shrikhand: 'Shrikhand', sans-serif;

// Colors
$background: #F3F3F3;
$grey: #7E7E7E;
$dark-grey: #353535;
$primary: #9356DC;
$green: #99E2D0;
$dark-green: #008766;
$blue: #89C8FA;
$dark-blue: #003A68;
$white: #ffffff;
$black: #000000;