/* layouts */

html{
    font-family: $roboto;
    font-weight: $fw-regular;
    font-size: 16px;
    background-color: $background;
}

.wrap{
    width: 100%;
    display: flex;
    justify-content: center;
}

// h2
.title{
    font-size: 24px;
    font-weight: $fw-bold;
}

//SVG
.svg{
    width: 1rem;
    height: 1rem;

}